.crm-moreInfo.crm-mif-ct {
  .el-dialog.el-dialog--tiny{
    width:1000px;
  }
  .el-dialog__body{
    overflow:hidden;
  }
  .tab-content{
    .tab-c-box{
      text-align: left;
    }
    .tab-c-input{
      margin-top: 15px;
      min-height: 5px;
      overflow: hidden;
      vertical-align: middle;
      font-family: "Microsoft YaHei";
      padding-left: 5px;
      padding-top: 10px;
      font-size: 12px;
      resize: none;
      border: 1px solid #ddd;
      width: 95%;
      height:30px;
    }
    .tab-c-submit{
      font-family: "Microsoft YaHei";
      border: none;
      padding: 3px 15px;
      display: inline-block;
      margin: 10px 5px 10px 5px;
      background: #5bb75b;
      border-radius: 3px;
      color: #fff;
    }
    .crm-connectionTab{
      .mif-edt-newLinkman{
        padding: 4px 5px;
        color: #fff;
        background-color: #0480be;
        cursor:pointer;
      }
      .td{
        .update{
          background-image: url('../assets/icon/addcus.png');
          cursor: pointer;
          display: block;
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          margin-top: 5px;
          background-position: -20px 0;
          float: left;
        }
      }
    }
  }

  /*新建联系人组件*/
  .module-linkman{
    .connectInfo{
      width:500px;
      .cnt-tab td{
        border:0;
        background:#fff;
      }
    }
  }
  .layer-newFollow{
    .connectInfo{
      width:700px;
      .cnt-tab td{
        border:0;
        background:#fff;
      }
    }
  }
  .cnt_close{
    position:absolute;
    top:16px;
    right:20px;
    color:#fff;
    cursor: pointer;
  }
}

